*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #333;
}

#Encontrar:hover{
    color: #FBB95B;
}

#Cadastrar:hover{
    color: #FBB95B;
}

#Perfil:hover{
    color: #FBB95B;
}

li{
    float: right;
    display: inline;
    list-style: none;
    padding: 15px 40px;
    font-size: 2em;
}

.Logo{
    float: left;
    font-size: 2.5em;
    padding: 10px 80px;
}

.container {
    width: 100%;
    display: grid;
    grid-template-rows: 70px 300px 300px 300px 300px 170px 300px 300px 200px 500px;
    grid-template-columns: 50px 200px 375px 50px 375px 200px 1fr;
    grid-template-areas: "cabecalho cabecalho cabecalho cabecalho cabecalho cabecalho cabecalho"
                         ". qs1 qs1 . qs2 qs2 ."
                         ". qs1 qs1 . qs2 qs2 ."
                         ". qs3 qs3 . qs4 qs4 ."
                         ". qs3 qs3 . qs4 qs4 ."
                         ". . . . . . ." 
                         ". qs5 qs5 . qs6 qs6 ."
                         ". qs5 qs5 . qs6 qs6 ."   
                         ". . . . . . ." 
                         "footer footer footer footer footer footer footer";                       
    grid-gap: 10px;
}

.Cabecalho{
    position: fixed;
    width: 100%;
    grid-area: cabecalho;
    background-color: 	#FEFEFE;
    border-color: #919191;
    border-bottom-width: 3px;
    border-bottom-style: solid;
}

.QS1{
    width: 100%;
    grid-area: qs1;
    background-color: #FFFFFF;
}

.QS1 article{
    font-size: 2em;
    text-align: right;
    color: #616161;
    margin: 35% auto;
    width: 50%;
}

.QS2{
    width: 100%;
    grid-area: qs2;
    background-color: #FBB95B;
}


.QS2 article{
    width: 100%;
    font-size: 2em;
    text-align: center;
    color: #181818;
    margin: 0 auto;
}

.QS2 h1{
    width: 100%;
    font-size: 4em;
    text-align: center;
    color: rgb(250, 250, 250);
    margin: 33% auto 0;
}

.QS3{
    width: 100%;
    grid-area: qs3;
    background-color:	#1B3163;  
}

.QS3 p{
    width: 60%;
    font-size: 2em;
    color: rgb(233, 233, 233);
    text-align: justify;
    margin: 27% auto;
}

.QS4{
    width: 100%;
    grid-area: qs4;
    background-color: #FFFFFF;
}

.QS5{
    width: 100%;
    grid-area: qs5;
    background-color: 	#F6FDF6;
    border-color: #FFFFFF;
    border-width: 1px;
    border-style: solid;
    border-radius: 1em;
    box-shadow: rgb(177, 176, 176) 0.5em 0.5em 0.3em
}

.QS5 img{
    margin: 7% 25%;
    width: 50%;
    text-align: center;
}

.QS5 p{
    text-align: center;
    width: 100%;
    font-size: 2.4em;
    color: #333;
}

.QS5 a{
    margin: 1% 17%;
    width: 60%;
    text-align: center;
    float: left;
    padding: 3%;
    font-size: 2em;
    color: #FEFEFE;
    background-color: #1B3163;
}

.QS5 a:hover{
    background-color: #FBB95B;
    color: black;
}

.QS6{
    width: 100%;
    grid-area: qs6;
    background-color: 	#F6FDF6;
    border-color: #FFFFFF;
    border-width: 1px;
    border-style: solid;
    border-radius: 1em;
    box-shadow: rgb(177, 176, 176) 0.5em 0.5em 0.3em
}

.QS6 img{
    margin: 11% 25%;
    width: 50%;
    text-align: center;
}

.QS6 p{
    text-align: center;
    width: 100%;
    margin: 0 0 3%;
    font-size: 2.4em;
    color: #333;
}

.QS6 a{
    margin: 1% 17%;
    width: 60%;
    text-align: center;
    float: left;
    padding: 3%;
    font-size: 2em;
    background-color: #FBB95B;
    color: black;
}

.QS6 a:hover{
    color: #FEFEFE;
    background-color: #1B3163;
}


.footer{
    color: #F6FDF6;
    width: 100%;
    grid-area: footer;
    background-color: #1B3163;
}

.Ttitulo{
    width: 50%;
    margin: 6% 3% 0;
    float: left;
    font-size: 4em;
}

.Temail{
    width: 50%;
    float: left;
    margin: 4% 3% 0;
    font-size: 2em;
}

.Ttexto{
    margin: 3% 5% 0;
    width: 20%;
    float: right;
    font-size: 1.4em;
}

.Tfim{
    margin: 8% 0 0;
    width: 100%;
    float: left;
    text-align: center;
}

.Imagem1{
    width: 100%;
}

@media only screen and (max-width: 520px){
    .container {
        width: 100%;
        display: grid;
        grid-template-rows: 30px 300px 300px 300px 170px 300px 300px 200px 500px;
        grid-template-columns: 50px 200px 50px 375px 200px 1fr;
        grid-template-areas: "cabecalho cabecalho cabecalho cabecalho cabecalho cabecalho"
                             ". qs1 . qs2 qs2 ."
                             ". qs1 . qs2 qs2 ."
                             ". qs3 . qs4 qs4 ."
                             ". qs3 . qs4 qs4 ."
                             ". . . . . ." 
                             ". qs5 . qs6 qs6 ."
                             ". qs5 . qs6 qs6 ."    
                             ". . . . . ." 
                             "footer footer footer footer footer footer";                       
        grid-gap: 10px;
    }
}
